@charset "utf-8";
/* CSS Document */
/*
メインカラー：#C8DFD7;
*/
.clearfix:after {
    clear: both;
    content: "";
    display: block;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
   /* min-height: 100vh;
    
  background: url(img/bg.png) center no-repeat;
  background-size: cover;
  background-color: rgba(255,255,255,0.4);
  background-blend-mode: lighten;
*/
    background-color: #fff;
}
body {
    color: #333333;
    font-size: 16px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
    text-align: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: content-box;
    -webkit-text-size-adjust: 100%;
}
img {
    display: block;
}
a, a:active, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}
button {
    /*リセット*/
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;
}
.caption {
    width: 300px;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 5;
    text-align: left;
    font: normal 16px;
}
.caption h1 {
    font: 14px normal;
	line-height: 0.8em;
}
.caption h1 span {
    font: 24px normal;
}
.caption p {
    margin: 0.5em 0;
    font: 18px;
}
.model_box {
    position: relative;
    width: 100%;
    height: 100%;
}
model-viewer {
    position: absolute;
	top: 0;
    left: 10%;
    width: 90%;
    height: 90%;
    background-color: #C8DFD7;
    --poster-color: #C8DFD7;
    z-index: 3;
}
.model_box div {
    position: absolute;
    top: 10%;
    width: 90%;
    height: 90%;
    /*  background-color: #C8DFD7;*/
    background: url(img/bg.png) center no-repeat;
    background-size: cover;
    z-index: 2;
}
.attention {
	display: flex;
    position: absolute;
    transform-origin: center center;
    left: 0px;
    bottom: 0px;
    z-index: 5;
}
.another-ar-button {
    display: block;
    width: 200px;
    height: 200px;
    font: bold;
    color: #fff;
    background-image: url("img/flst.png");
    background-size: 100% 100%;
}
.attention p {
	font: 12px normal;;
	margin: auto;
}
